[Desktop Entry]
Version=1.0
Icon=dolphin-emu
Exec=/opt/dolphin-emu-git-netplay/bin/dolphin-emu
Terminal=false
Type=Application
Categories=Game;Emulator;
Name=Dolphin Emulator (Netplay v5.0-321)
GenericName=Wii/GameCube Emulator
Comment=A Wii/GameCube Emulator
